.collectionH2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  margin-bottom: 92px;
}
.collections {
  display: flex;
}
.collection {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.collection:first-child {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 350px;
  height: 558px;
}
.collection:last-child {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 350px;
  height: 558px;
}

.collection:last-child:after {
  content: '';
  background: rgba(110, 156, 159, 0.64);
  display: block;
  position: absolute;
  width: 350px;
  height: 478px;
  top: 0;
  left: 0;
  z-index: 1;
}

.collection div {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.collection span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #998e78;
  margin-bottom: 65px;
}

.divCollections {
  position: relative;
}

.arrowBtn {
  cursor: pointer;
  padding: 15px;
  font-size: 55px;
  width: 31px;
  height: 22px;

  color: white;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 310px;
  right: 260px;
  z-index: 40;
}

.openStore {
  padding: 22px 50px;
  display: block;
  justify-content: center;
  background-color: transparent;
  border: 1px solid#6e9c9f;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6e9c9f;
  margin-left: 445px;
  margin-bottom: 120px;
  cursor: pointer;
}
