.authorization {
  width: 1200px;
  margin: auto;
}

.inputAuth {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.inputAuth input {
  width: 300px;
  margin-bottom: 30px;
}
