.auth {
  z-index: 999;
  display: flex;
  width: 200px;
}

.authA {
  margin-left: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: black;
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  cursor: pointer;
}

.authA:hover {
  color: #6e9c9f;
}
