.categories {
  margin-bottom: 92px;
}
.categories ul {
  padding-left: 0px;
  display: flex;
}
.categories ul li button:first-child {
  margin-left: 0px;
}
.categories ul li {
  list-style-type: none;
}
.categoriesBtn {
  margin: 0px 10px;
  color: black;
  border: 1px solid black;
  padding: 20px 65px;
  background-color: transparent;

  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.categoriesBtnACT {
  margin: 0px 10px;
  color: white;
  background-color: black;
  padding: 20px 65px;
  list-style-type: none;

  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
