.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(110, 156, 159, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 20;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal_content {
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  height: 480px;
  width: 450px;
  transform: scale(1);
  transition: 0.4s all;
  align-items: center;
  position: relative;
}
.modal_content.active {
  transform: scale(1);
}

.modalX {
  position: absolute;
  right: 30px;
  top: 20px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.modal_content h3 {
  margin-top: 55px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.authInputs {
  display: flex;
  flex-direction: column;
}

.authInputs input {
  position: relative;
  width: 350px;
  height: 40px;
  border: 0px;
  border-bottom: 1px solid #000000;
  outline: none;
  margin-bottom: 10px;
}

.loginErrors {
  min-height: 25px;
  width: 350px;
  color: red;
  margin-bottom: 10px;
}
.loginErrors p {
  margin: 0;
}

.eyesInput.view {
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.eyesInput {
  position: absolute;
  top: 205px;
  right: 45px;
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}

.signIn input {
  width: 201px;
  height: 58px;
  border: none;
  background-color: #6e9c9f;
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
}
.signIn input:hover {
  opacity: 0.75;
  transition: 0.8s;
}

.signIn input:not(:hover) {
  transition: 0.8s;
}

.signIn input:disabled {
  opacity: 0.55;
}

.signIn p {
  margin-top: 25px;
  text-align: center;
}
.signIn p a {
  cursor: pointer;
}

.signIn p a:hover {
  opacity: 0.75;
}

.fetchAuth {
  margin: auto;
  margin-top: 30px;
}
