footer {
  background-color: #f1eadc;
  width: 100%;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: 363px;
  display: flex;
  margin: 0 auto;

  justify-content: space-between;
}
.footerLog div {
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footerLog p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.logoDiv {
  margin-top: 115px;
  margin-bottom: 75px;
}
.logoDiv div {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 10px;
}

.links {
  display: flex;
}

.footerNav {
  margin-top: 100px;
}

.footerInfo {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 160px; */
  flex-direction: column;
  margin: 0 -5px;
  margin-top: 100px;
}
.footerInfo div {
  flex: 1 1 auto;
  margin: 0 2px;
}
.pFooter {
  margin-left: 0px;
}
