.collectionsShop {
  display: flex;
  margin: 0 -5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 65px;
}
.collection {
  margin: 10px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 350px;
}

.collection:first-child {
  margin: 10px 20px;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 350px;
}

.collectionDiv {
  position: relative;
}
.collectionDiv img {
  width: 370px;
  height: 450px;
}
.collectionDiv a {
  cursor: default;
}
.collectionDiv:hover:after {
  /* content: '→'; */
  background: url('../../../assets/home/collections/arrow.svg');
  display: table-cell;
  /* vertical-align: middle; */
  line-height: 430px;
  font-size: 45px;
  color: rgb(224, 220, 220);
  text-align: center;
  /* background: rgba(110, 156, 159, 0.64); */
  /* background: rgba(135, 190, 194, 0.64); */
  position: absolute;
  width: 350px;
  height: 478px;
  top: 0;
  /* z-index: 1; */

  transition: 0.6s;
}

.collection h4 {
  margin: 0px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;

  word-break: break-all;
}

.showCollections {
  margin-bottom: 85px;
}

.showCollections p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;

  letter-spacing: 0.02em;
  color: #808080;
}
