.OneModel {
  margin: auto;
  width: 1200px;
}
.OneModel h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: 0.02em;
  margin-bottom: 26px;
}

.shopRoutes {
  display: flex;
  margin: 0 -5px;
  margin-bottom: 100px;
  margin-left: 1px;
}

.shopRoutes a {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.line {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin: 0 7px;
}

.shopItem {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.shopItemGrey {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #919191;
}

.oneModelDiv {
  display: flex;
}
.imgOneModel {
  width: 535px;
  height: 730px;
}
.imgOneModel img {
  max-width: 100%;
  /* max-height: 100%; */
}

.oneModelBody {
  height: 500px;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}
.oneModelPrice {
  margin-bottom: 60px;
}

.oneModelSize {
  margin-bottom: 60px;
}
.oneModelSize p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 35px;
}

.oneModelColor {
  margin-bottom: 60px;
}
.oneModelColor p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  margin-bottom: 34px;
}
.oneModelColor div {
  display: flex;
}
.oneModelColor button {
  margin-right: 15px;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}
.oneModelColor button:hover {
  opacity: 0.83;
}
.sizeBtn {
  margin-right: 15px;
  border: 1px solid black;
  width: 41px;
  height: 41px;
  align-items: center;
  vertical-align: top;
  background-color: transparent;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.sizeBtnAct {
  margin-right: 15px;
  width: 41px;
  height: 41px;
  background-color: black;
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  transition: 1s;
}
.sizeBtn:hover {
  color: white;
  background-color: #000000;
  opacity: 0.63;
  transition: 0.5s;
}
.sizeBtn:not(:hover) {
  background-color: transparent;

  transition: 0.5s;
}

.addBasket {
  display: flex;
}

.addBasket button {
  align-items: center;
  padding: 22px 50px;
  color: white;
  width: 268px;
  height: 68px;
  border: none;
  background: #6e9c9f;
}

.addBasket input {
  align-items: center;
  width: 68px;
  height: 68px;
  padding: 23px;
  border: 1px solid #afafaf;
  margin-right: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
}

.addBasket input:focus {
  align-items: center;
  width: 68px;
  height: 68px;
  padding: 23px;
  border: 1px solid #afafaf;
  margin-right: 10px;
  border: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modelRest {
  position: relative;
  margin-right: 40px;
}

.modelRest p {
  position: absolute;
  top: 20px;
  left: -20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
